*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: .1%;
    width: 100%;
}

header {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.089), rgba(0, 110, 255, 0.5)), url("img/image\ \(1\).png");
    color: white;
    text-align: center;
    height: 80vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .1% 0.2%;

}

.logo {
    flex-basis: 100%;
    padding-left: 2%;
    display: flex;
}

.navcontent {
    flex-basis: 100%;
    display: flex;
    align-self: flex-end;
    list-style: none;
    color: white;
}

nav li {
    padding: 0 2%;
    font-weight: 700;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.writing {
    margin-top: 110px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deli {
    margin: 0;
    font-size: 6em;
    color: rgba(252, 164, 0, 0.863);
}

.writingp {
    margin: 30px;
    font-size: 1.8em;
}

.book {
    border-radius: 18px;
    color: white;
    background-color: orange;
    font-size: 1.1em;
    padding: 0.4% .8%;
    border: transparent;
}

.about-us {
    display: grid;
    padding: 5%;
    justify-content: space-around;
    grid-template-columns: 23% 23% 50%;
    grid-template-rows: 1% 1%;
    grid-row-gap: 3rem;
    grid-column-gap: 3rem;
}

.image-side {
    grid-column: 1/2;
    grid-row: 1/3;
}

.image-side img {
    height: 100%;
}

.two-images {
    grid-column: 2/3;
    grid-row: 1/2;
}

.one-images {
    grid-column: 2/3;
    grid-row: 2/3;
}

.text-side {
    grid-column: 3/4;
    grid-row: 1/3;
    text-align: left;
    font-size: 20px;
    padding: 3% 5%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.about-head span {
    text-decoration-line: underline;
    text-decoration-thickness: 2.5px;
    text-underline-offset: .5em;
    text-decoration-color: orange;
}

.textwer {
    font-size: 18px;
}

hr {
    color: rgba(255, 166, 0, 0.062);
}

.explore {
    font-size: 18px;
    color: white;
    background-color: orange;
    width: fit-content;
    border-radius: 25px;
    padding: 1.5% 3%;
    border-color: transparent;
    margin-top: 30px;

}

.menu-head {
    margin-top: 60px;
}

.our-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: whitesmoke;
}

.menu-p {
    color: black;
}

.menu-p span {
    text-decoration: underline;
    text-underline-offset: 18px;
    text-decoration-thickness: 2px;
    text-decoration-color: orange;
}

.grids {
    margin-top: 40px;
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
}

.row-one {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    padding: 0 6%;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    background-color: white;
    width: 30%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0% 0% 1% 0%;
}

.card img {
    height: 25vh;
}

.up {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0% 5%;
    margin-bottom: 0;
    justify-content: space-between;
}

.ordernow {
    background-color: ghostwhite;
    color: orange;
    border: transparent;
    padding: 3% 6%;
    font-size: 14px;
    font-weight: 600;
    border-radius: 25px;
    align-self: flex-start;
    margin-left: 20px;
}

.cash {
    background-color: orange;
    border: transparent;
    padding: 1% 3%;
    color: white;
    font-weight: 900;
    font-size: 14px;
}

.card-text {
    padding: 0% 5%;
    text-align: left;
    margin-top: 0;
}

.explore-one {
    align-items: center;
    background-color: orange;
    align-self: center;
    padding: 1% 3%;
    border: none;
    border-radius: 25px;
    margin: 50px;
}

.why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.row {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-around;
}

.columns {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 3%;
    justify-content: space-around;
}

.card-one {
    width: 30%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.us-title {
    font-size: 50px;
    margin-top: 60px;
}

.us-p {
    font-size: 18px;
}

.customers {
    margin-top: 40px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/image\ \(5\).png");
    background-size: 100% 180%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: white;
    height: 90vh;
}

.cust-title {
    margin-top: 90px;
    font-size: 46px;
}

.cust-brief {
    font-size: 18px;
}

.allcard {
    display: flex;
    column-gap: 40px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 90px;
}

.card-two {
    margin-top: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    width: 25%;
    color: black;
    height: 50vh;
    background-color: white;
}

.allcard img {
    height: 25vh;
}

.checked {
    color: orange;
}
.fa-star-half-o{
    color: orange;
}
.book-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.book-title{
    margin-top: 70px;
    font-size: 38px;
}
.cus-brief{
    font-size: 16px;
    margin-top: 20px;
}
.first-one{
    align-items: center;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    width: 100%;
}
form{
    margin-top: 20px;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    width: 55%;
}
#name{
    width: 100%;
    padding: 20px;
    border: none;
    background-color: rgba(128, 128, 128, 0.185);
}
#email{
    width: 100%;
    padding: 15px;
    border: none;
    background-color: rgba(128, 128, 128, 0.185);
}
.upper{
    width: 100%;
    row-gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#number{
    width: 48%;
    padding: 15px;
    border: none;
    background-color: rgba(128, 128, 128, 0.185);
}
#people{
    width: 48%;
    padding: 15px;
    border: none;
    background-color: rgba(128, 128, 128, 0.185);
}
.lower{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#date{
    width: 48%;
    padding: 15px;
    border: none;
    background-color: rgba(128, 128, 128, 0.185);
}
#time{
    width: 48%;
    padding: 15px;
    border: none;
    background-color: rgba(128, 128, 128, 0.185);
}
#message{
    width: 100%;
    padding: 15px;
    border: none;
    background-color: rgba(128, 128, 128, 0.185);
}