*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: beige;
    margin: 0%;
    padding: .1%;
    width: 100%;
}

header {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.089), rgba(0, 110, 255, 0.5)), url("img/image\ \(1\).png");
    color: white;
    text-align: center;
    height: 80vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center
}

nav {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .1% 0.2%;

}

.logo {
    flex-basis: 100%;
    padding-left: 2%;
    display: flex;
}

.navcontent {
    flex-basis: 100%;
    display: flex;
    align-self: flex-end;
    list-style: none;
    color: white;
}

nav li {
    padding: 0 2%;
    font-weight: 700;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.writing {}

.writingp {}

.book {
    border-radius: 18px;
    color: white;
    background-color: orange;
    font-size: 1.1em;
    padding: 0.4% .8%;
    border: transparent;
}